* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 2vw;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  color: #111;
  line-height: 1.2;
  font: 400 1rem/1.2 system, Tahoma, sans-serif;
  overflow: hidden;
}

.hide {
  visibility: hidden;
}

.fancy {
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  border-radius: 0 0 500px 500px / 0 0 4px 4px;
  position: relative;
  display: block;
}

.fancy:before,
.fancy:after {
  box-shadow: 0 15px 5px rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 15px;
  z-index: -1;
  width: 50%;
  display: block;
  max-width: 300px;
  content: "";
  height: 50px;
}

.fancy:before {
  transform: rotate(3deg);
  right: 5px;
}

.fancy:after {
  transform: rotate(-3deg);
  left: 5px;
}

section {
  align-items: center;
  background-image: radial-gradient(
    ellipse farthest-corner at center,
    #f8f8f8 80%,
    #ccc
  );
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: none;
  flex-direction: column;
  font-size: 2.5rem;
  height: 56.25vw;
  justify-content: center;
  left: 0;
  margin: auto;
  padding: 1rem 1rem 2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100vw;
}

.section--intro {
  color: #036;
}

section > p {
  font-size: 1.5rem;
}

section.full {
  padding: 0;
}

iframe {
  background: hsl(40, 42%, 90%);
  border: 0 none;
  box-shadow: 0 .2em .2em rgba(0,0,0,.3);
  height: 90%;
  width: 80%;
}

h1,
h2,
h3,
h4 {
  font-style: italic;
  font-weight: 500;
  max-width: 80vw;
  text-align: center;
  word-wrap: break-word;
}

h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

h1:last-child {
  margin: 0;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media (min-aspect-ratio: 16/9) {
  :root {
    font-size: calc(16 / 9 * 2vh);
  }

  section {
    height: 100vh;
    width: 177vh;
  }
}

.note {
  font-size: .5em;
}

.center {
  text-align: center;
}

section.active {
  display: flex;
}

section img,
section video {
  flex: 1 1 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

section > * + * {
  margin-top: .5rem;
}

section .cols {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-around;
  width: 100%;
}

section .cols > * {
}

section .cols > * + *
}

section > .contain {
  background: #000;
  height: 100vh;
  left: 50%;
  object-fit: contain;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

pre {
  text-align: left;
}

pre:first-child {
  margin-top: 0;
}

pre code {
  font-size: 1rem;
  line-height: 1.2;
}

ul {
  margin: 0;
}

.cite {
  font-size: 1rem;
}
.cite:after {
  content: ':\00a0\00a0' attr(href);
}

.term {
  background: #222;
  color: #ddd;
  white-space: pre;
  width: 42ch;
  margin: 0 1ch;
  padding: 1ch;
}
.nowid {
  width: auto;
}
.fw {
  width: 100%;
}
.bigger {
  font-size: 1.5em;
}
.pr {
  position: relative;
}
.white {
  color: white;
}

blink {
  animation: 1s blink linear infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

pre {
  margin-bottom: 0;
  max-height: 100%;
  max-width: 90%;
  overflow: auto;
}

.cani {
  height: 360px;
  transform: scale(1.5);
  width: 600px;
}

.stack > div {
  border: .1em solid #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.8;
  margin-top: -.1em;
  min-width: 10em;
  text-align: center;
}

.stack > div > div {
  flex-grow: 1;
  text-align: center;
  width: 100%;
}

.stack > div > div + div {
  border: 0 none;
  border-left: .1em solid black;
}

.zoom-1-5 {
  height: 66%;
  transform: scale(1.5);
  width: 53%;
}

.zoom-2 {
  height: 50%;
  transform: scale(2);
  width: 40%;
}

.progress {
  --color: #000;
  background: #000;
  background: var(--color);
  bottom: 0px;
  height: .5vh;
  left: calc(-100vw + 1.5vh);
  position: absolute;
  transform: translate(0, 0);
  transition: 300ms transform ease-out;
  width: calc(100vw - 1.5vh);
}

.progress:after {
  background: var(--color);
  border-radius: 1vh;
  content: '';
  height: 1.5vh;
  position: absolute;
  right: -1.5vh;
  top: -.5vh;
  width: 1.5vh;
}

.talk-progress {
  --color: #444;
  bottom: 3.5vh;
}

.time-progress {
  --color: #444;
  bottom: 1.5vh;
}

.tall {
  height: 100vh;
}

section > .cover {
  display: block;
  height: 100vh;
  left: 0;
  margin: 0;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
}

.vr {
  color: transparent;
  font-size: 40vh;
  mix-blend-mode: multiply;
  position: relative;
}

.vr:after {
  color: #f55;
  content: attr(text);
  left: -.03em;
  mix-blend-mode: multiply;
  position: absolute;
}

.vr:before {
  color: #5ff;
  content: attr(text);
  left: .03em;
  mix-blend-mode: multiply;
  position: absolute;
}
